.DS_Store
.ipynb_checkpoints/
raw data/GHDX_COUNTY_CANCER_MORTALITY_RATES_1980_2014.XLSX
raw data/GHDX_COUNTY_CVD_MORTALITY_RATES_1980_2014.XLSX
raw data/GHDX_COUNTY_MORTALITY_RATES_1980_2014.XLSX
raw data/GHDX_COUNTY_LIFE_EXP_MORTALITY_RISK_1980_2014.XLSX
raw data/GHDX_COUNTY_INFECT_DIS_MORT_1980_2014.XLSX
raw data/GHDX_COUNTY_RESP_DISEASE_MORTALITY_1980_2014.XLSX
raw data/HCUP_County_CALIFORNIA_2015_hospital_stays_for_alc_and_drug.csv
raw data/Zillow_County_MedianSalePrice.csv
